.heading{
	text-align: center;
	margin: 2% 0 0.5% 0;
}
*{
	margin: 0;
	padding: 0;
}
body{
	background-color: #95a5a6;
	color: #ffffff;
	letter-spacing: 0.35em;
	font-family: 'Patrick Hand', cursive;
}
div.images{
	width: 30%;
	margin: 1.5%;
	float: left;
}
img{
	width:100%;
	height: auto;
}
.space{
	width: 100%;
	float: left;
	height: 1px;
}
.images figure figcaption{
	font-weight: bold;
	font-size: 1.5em;
	text-align: center;
}
@media screen and (max-width: 1200px){
		div.images{
		width: 40%;
		margin: 0.5% 5%;
		float: left;
	}
	.heading{
		margin-bottom: 2.5%;
	}
	.space{
		width: 0;
	}
	.img9{
		position: relative;
		left: 50%;
		transform: translateX(-60%);
	}
}
@media screen and (max-width: 650px){
	div.images{
		width: auto;
		margin: 1.5% 5%;
	}
}